.skills_container {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.skills_container > div {
    background: var(--color-bg-variant);
    padding: 2rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.skills_container > div h3 {
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.skills_details {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.skills_details h4 {
    margin-left: 1rem;
}