footer {
    text-align: center;
    padding: 10rem;
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    footer {
        padding: 5rem 5rem 7rem 5rem;
    }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
    footer {
        padding: 5rem 5rem 7rem 5rem;
    }
}